.page {
  display: grid;
  grid-template:
    'nav query query query'
    'nav result result result';
  height: 100vh;
}

.page__nav {
  grid-area: nav;
  height: 100vh;
  width: var(--size-nav-width);
  max-width: 350px;
  background-color: var(--color-background-secondary);
  border-right: 1px solid var(--color-border);
}

.page__query {
  grid-area: query;
  height: 40vh;
  width: calc(100vw - var(--size-nav-width));
}

.page__result {
  grid-area: result;
  height: 60vh;
  width: calc(100vw - var(--size-nav-width));
  border-top: 1px solid var(--color-border);
}

