.nav__header {
  display: flex;
  width: auto;
  margin: var(--size-spacing);
  gap: calc(2 * var(--size-spacing-x));
  align-items: center;
}

.nav__subtitle {
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
  font-weight: 600;
  text-transform: uppercase;
}

.nav__icon {
  display: flex;
  height: 28px;
  width: 28px;
  margin-left: var(--size-spacing-x);
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: var(--size-border-radius);
}

.nav__icon svg {
  height: 16px;
  width: 16px;
  stroke: var(--color-text-contrast);
  stroke-width: 2px;
}

.nav__list {
  margin: var(--size-spacing);
}

.nav__list>li {
  margin: var(--size-spacing);
}
