.nav__header {
  display: flex;
  width: auto;
  padding: var(--size-spacing);
  gap: var(--size-spacing-x);
  align-items: center;
  justify-content: center;
}

.nav__icon {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: var(--size-border-radius);
}

.nav__icon svg {
  height: 24px;
  width: 24px;
  stroke: var(--color-text-contrast);
  stroke-width: 2px;
}

.nav__list {
  padding: var(--size-spacing);
}
