.query__header {
  margin: 0 var(--size-margin-x);
}

.query__body {
  margin: 0 var(--size-margin-x);
  padding: 0 14px;
}

.query__submit {
  position: fixed;
  top: 20px;
  right: 14px;
}

.query__submit svg {
  height: 10px;
  width: 9px;
  stroke: var(--color-text-contrast);
  fill: var(--color-text-contrast);
  margin-right: 6px;
}
