<script src="/scripts/htmx.min.js" type="text/javascript"></script>
<script src="/scripts/htmx-event-listner.js" type="text/javascript"></script>
<script src="/scripts/collapse.js" type="text/javascript"></script>
<link rel="stylesheet" href="/styles/style.css">
<script src="/scripts/vendors/codemirror/codemirror.min.js" type="text/javascript"></script>
<script src="/scripts/vendors/codemirror/mode/sql.min.js" type="text/javascript"></script>
<script src="/scripts/vendors/codemirror/keymap/vim.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/styles/vendors/codemirror/codemirror.css">
